*{
    margin: 0;
    padding: 0;
}
body,html {
    position: relative;
}
// nav
#nav-wrap {
    width: 100%;
    height: 30px;
    background: #f5f5f5;
    .nav {
        width: 1200px;
        height: 30px;
        margin: 0 auto;
        background: #f5f5f5;
        .left {
            height: 30px;
            float: left;
            li {
                float: left;
                font-size: 12px;
                text-align: center;
                line-height: 30px;
                color: #666;
                padding: 0 14px;
            }
            li:nth-child(2) {
                padding: 10px 0;
                .test{
                    margin:50px auto;
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    border-width: 4px;
                    border-color: #888 transparent transparent transparent;
                    border-style:solid dashed dashed dashed; 
                    }
            }
        }
        .right {
            float: right;
            height: 30px;
            font-size: 12px;
            text-align: center;
            line-height: 30px;
            .one {
                float: left;
                &:hover {
                    color: #f10180;
                }
                .gift {
                    background: url(../images/icn_03.png)no-repeat 14px 6px;
                    padding-left: 30px;
                }
                a {
                    padding: 0 14px;
                    color: #666;
                    display: inline-block;
                    &:hover {
                        color: #f10180;
                    }
                }
                span { 
                    // float: left;
                    color: #d2d2d2;
                }
            }
        }
    }
}


// search-wrap
#search-wrap {
    width: 100%;
    height: 100px;
    .search {
        width: 1200px;
        height: 100px;
        background: #fff;
        margin: 0 auto;
        .logolink {  
            float: left;
            background-image: url(../images/icon.png);
            background-position: -308px -57px;
            width: 125px;
            height: 100px;
            display: inline-block;
            vertical-align: top;
            line-height: 500px;
            overflow: hidden;
            margin-right: 60px;
            }
        .background {
            cursor: pointer;
            float: left;
            width: 304px;
            height: 100px;
            background-image: url(../images/icon.png);
            background-position: 0 0;
            margin-right: 20px;
        }
        .search-t {
            float: left;
            width: 334px;
            height: 34px;
            border: 2px solid #f10180;
            margin-left: 180px;
            margin-top: 30px;
            outline: none;
        }
        .btn {
            width: 52px;
            height: 38px;
            background: #f10180;
            margin-top: 30px;
            border: 0;
            outline: none;
            .icon-sousuo1 {
                font-size: 28px;
                color: #fff;
            }
        }
        .shoppingCar {
            width: 90px;
            height: 32px;
            background: #f6f7f9;
            float: right;
            margin-top: 32px;
            text-align: center;
            line-height: 32px;
            font-size: 14px;  
            border: 1px solid #ccc;  
            border-radius: 1px;
            margin-right: 5px;
            a {
                display: block;
                &:hover {
                    color: #f10180;
                }
            }           
        }
    }
}

// nav-sceond
#nav-sceond {
    width: 100%;
    height: 44px;
    position: sticky;
    top: 0;
    .navs {
        width: 1200px;
        height: 44px;
        background: #fff;
        margin: 0 auto;
        .nav-left {
            position: relative;
            width: 156px;
            height: 44px;
            float: left;
            background: #ee0180;
            .l-goods{
                width: 156px;
                height: 44px;
                .goods {
                    font-size: 18px;
                    color: #fff;
                    text-align: center;
                    line-height: 44px;
                    cursor: pointer;
                    .icon-mulu {
                        font-size: 20px;
                    }
                    &:hover .goods-sort {
                        display: block;
                    }
                    .goods-sort {
                        width: 156px;
                        height: 44px;
                        display: none;
                        .sort {
                            font-size: 14px;
                            background: #ee0180;
                            &:hover .directory {
                                display: block;
                            }
                            a {
                                color: #fff;
                                font-size: 12px;
                                &:hover {
                                    display: block;
                                    background: #fff;
                                    color:#ee0180;
                                }
                            }
                            .directory {
                                position: absolute;
                                width: 1044px;
                                height: 484px;
                                background: #fff;
                                top: 44px;
                                left: 156px;
                                display: none;
                                .d-left {
                                    float: left;
                                    width: 694px;
                                    height: 484px;
                                    overflow:hidden;
                                    overflow-y: auto;
                                    p {
                                        text-align: left;
                                        font-size: 12px; 
                                        color: #888;                                      
                                        a {
                                            color: #888;
                                            margin-left: 28px;
                                            span {
                                                color: #333;
                                                margin-right: 10px;
                                            }
                                        }
                                    }
                                }
                                .d-right {
                                    float: left;
                                    width:210px;
                                    height: 364px;
                                    background: #f5f5f5;
                                    padding: 70px;
                                    p {
                                        font-size: 14px;
                                        color: #333;
                                        text-align: left;
                                        margin-bottom: 4px;
                                    }
                                }
                            }                            
                        }
                    }
                }
            }         
        }
        .nav-right {
            float: left;
            width: 1044px;
            height: 44px;
            background: #fff;
            .goods-info {
                width: 1070px;
                height: 44px;
                padding-left: 14px;
                .info {
                    float: left;
                    font-size: 16px;
                    text-align: center;
                    line-height: 44px;
                    a {
                        display: block;
                        color: #333;
                        padding: 0 19px;                     
                    }
                }
                .two {
                    background: url(../images/hot.png)no-repeat 10px 12px;
                    padding-left: 30px;
                    font-weight: 700;
                }
                .first a {
                    color: #f10180;
                    margin-right: 10px;
                }
                .nor a {
                    display: block;
                    &:hover {                        
                        color: #f10180;
                    }
                }
                .last  {
                    width: 80px;
                    &:hover ul {
                        display: block;
                    }
                    a {
                        padding: 0 12px;
                        display: block; 
                        &:hover {         
                            color: #f10180;
                        }
                    }
                    ul {
                        width: 80px;
                        display: none;
                        background: #fff;
                    }
                }
            }
        }
    }
}

// carousel
#carousel {
    width: 100%;
    height: 430px;
}
.swiper-container {
    background: url(../images/bg.jpg)no-repeat -30px 0;
    padding-top: 30px;
    width: 100%;
    z-index: -1;
      
}

// special-sale
#special-sale {
    width: 100%;
    margin-top: 20px;
    .special {
        width: 1200px;
        margin: 0 auto;
        .special-top {
            width: 1200px;
            height: 60px;
            .line {
                float: left;
                width: 380px;
                height: 30px;
                border-bottom: 1px solid #888;
            }
            h2 {
                width: 440px;
                float: left;
                text-align: center;
                line-height: 60px;
                color: #333;
                font-size: 36px;
                span {
                    font-size: 38px;
                    font-weight: bold;
                }
            }
        }
        .special-middle {
            width: 1200px;
            height: 64px;
            border-bottom: 1px solid #333;
            .under-line {
                width: 400px;
                height: 60px;
                border-bottom: 4px solid #000;
                h3 {
                    font-size: 36px;
                    color: #333;
                    text-align: bottom;
                    line-height: 76px;
                    span {
                        font-size: 38px;
                        font-weight: bold;
                    }
                    i {
                        font-size: 12px;
                        color: #666;
                        line-height: 60px;
                        
                    }
                }
            }
        }
        .special-bottom {
            width: 1200px;
            height: 2280px;
            margin: 0 auto;
            margin-top: 26px;
            .box2 {
                margin-left: 20px;
            }
            .box {
                float: left;
                width: 590px;
                height: 360px;
                color: #333;
                margin-bottom: 20px;
                img {
                    width: 590px;
                    margin-bottom: 20px;
                }
                h4 {
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 8px;
                    a {
                        color: #333;
                    }
                }
                p {
                    font-size: 16px;
                    span {
                        color: #f10180;
                    }
                }
            }    
        }
        .special-bottoms {
            width: 1200px;
            height: 30px;
            margin: 0 auto;
            border-top: 1px solid #888;
            text-align: center;
            a {
                display: block;
                width: 400px;
                height: 30px;
                background: #f10180;
                line-height: 30px;
                margin-left: 400px;
                color: #fff;
            }
        }
    }
}